@import 'bootstrap/dist/css/bootstrap.css';

@font-face {
    font-family: "Nolan_Odissey";
    src: url("./src/assets/fonts/Helvetica Neue Black.ttf");
}

body {
     background-color: #000000;
    color: #35516E;
}

.title-odissey {
   
    font-family: "Nolan_Odissey",sans-serif;
    letter-spacing: 0.5rem;
    color: #35516E;
    text-transform: uppercase;
}

.subtitle-odissey {
    font-family: "Nolan_Odissey",sans-serif;
    letter-spacing: 0.5rem;
    color: #AB1A19;
    text-transform: uppercase;

}